body {
  background-image: url("../Images/grifo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
  background-position-y: 230px;
}

.drag {
  width: 70%;
  margin-left: 15%;
  height: 110px;
  border-radius: 30px;
  background-color: rgba(173, 216, 230, 0.5);
  margin-top: 8%;
  margin-bottom: 20px;
  border: 2px solid rgb(139, 205, 226);
}

img {
  object-fit: cover;
  height: 100px;
  margin: 2px;
  cursor: pointer;
}

.container-left {
  width: 30%;
}

.container-right {
  width: 30%;
}

.containers {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: center;
  padding: 15px;
}

.square {
  width: 240px;
  height: 110px;
  background-color: rgba(173, 216, 230, 0.5);
  border-radius: 10px;
  margin-right: 25px;
  margin-left: 25px;
  border: 2px solid lightblue;
}

.text {
  color: black;
}
